@import "generic/reset";
@import "settings";


// BASE

* {
    box-sizing: border-box;
  }
  
  body {
    font-family: $font-open-sans;
  }
  
  a {
    text-decoration: none;
  }
  
  h2 {
    font-family: $font-raleway;
    font-size: 2.25rem;
  }
  
  .container {
    width: 1352px;
    margin: 0 auto;
  
    @include notebook {
      width: 100%;
      padding: 0 15px;
    }
  }
    
  .logo {
    font-family: $font-raleway;
    font-size: 2rem;
    font-weight: 300;
    color: $color-primary;
  }

//   BUTTONS

.btn {
    color: white;
    font-weight: bold;
    display: inline-block;
    padding: 16px 65px;
    border-radius: $button-radius;
    border: none;
  
    &--primary {
      background-color: $color-primary;
      border-radius: $button-radius;
      box-shadow: 3px 10px 14px $color-primary-shadow;
    }
  
    &--redish {
      background-color: $color-redish;
    }
  
    &--green {
      background-color: $color-green;
    }
  
    &--large {
      padding: 22px 155px;
    }
  }
  
// HEADER 

.header {
    height: 70px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, .16);
  
    &__container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 100%;
    }
  
    .nav {
      &__element {
        padding: 0 26px;
  
        &:last-child {
          padding-right: 0;
        }
      }
  
      &__link {
        color: $color-grey;
        font-weight: 700;
        font-size: 0.6875rem;
        text-transform: uppercase;
        padding: 28px 18px 22px;
        border-bottom: 4px solid transparent;
        letter-spacing: 0.1875rem;
  
        &:hover {
          color: $color-black;
          border-color: $color-primary;
        }
      }
    }
  
    &__nav {
      display: flex;
  
      @include mobile {
        position: absolute;
        left: 0;
        top: 95px;
        flex-direction: column;
        background-color: white;
        width: 100%;
        padding-bottom: 20px;
        display: none;
  
        .nav__element {
          padding: 0;
        }
  
        .nav__link {
          display: block;
          padding: 14px 20px;
        }
      }
    }
  
    .menu {
      &__btn {
        display: none;
        position: absolute;
        top: -9999px;
        left: -9999px;
        opacity: 0;
  
        @include mobile {
          &:checked {
            ~ .header__nav {
              display: flex;
            }
  
            ~ .menu__toggle {
              span {
                &:nth-child(1) {
                  transform: rotate(45deg) translate(2px, 5px);
                }
                &:nth-child(2) {
                  opacity: 0;
                }
                &:nth-child(3) {
                  transform: rotate(-45deg) translate(2px, -5px);
                }
              }
            }
          }
        }
      }
  
      &__toggle {
        display: none;
  
        span {
          width: 20px;
          height: 2px;
          display: block;
          margin-bottom: 3px;
          background-color: $color-primary;
          transition: .3s all ease-in-out;
  
          &:last-child {
            margin-bottom: 0;
          }
        }
  
        @include mobile {
          display: block;
        }
      }
    }
  }

//   OPENING 
.opening {
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
  
    &__content {
      margin-top: 130px;
      text-align: center;
  
      @include mobile {
        margin-top: 100px;
      }
    }
  
    &__header {
      font-family: $font-raleway;
      font-size: 3.0625rem;
    }
  
    &__heading {
      margin-top: 20px;
      margin-bottom: 38px;
  
      @include mobile {
        padding: 0 70px;
      }
    }
  
    &__image {
      width: 100%;
      height: auto;
  
      @include mobile {
        width: 220%;
        transform: translateX(-28%);
      }
    }
  
    @include mobile {
      .btn {
        margin: 0 15px;
        padding: 16px 0;
        display: block;
      }
    }
  }
  
// STATISTIC 
.statistics {
    margin-top: 100px;
  
    @include mobile {
      margin-top: 50px;
    }
  
  
    &__title {
      text-align: center;
    }
  
    &__container {
      max-width: 800px;
      margin: 100px auto 120px;
      display: flex;
      justify-content: space-between;
  
      @include mobile {
        margin: 35px auto 50px;
        align-items: center;
        flex-direction: column;
      }
    }
    
    &__single {
      max-width: 160px;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      text-align: center;
      font-family: $font-raleway;
  
      @include mobile {
        margin-bottom: 35px;
  
        &:last-child {
          margin-bottom: 0;
        }
      }
  
      &:nth-child(1) {
        .statistics__circle {
          background-color: $color-redish;
        }
  
        .statistics__img {
          top: 0;
          left: 45%;
        }
      }
  
      &:nth-child(2) {
        .statistics__circle {
          background-color: $color-primary;
        }
  
        .statistics__img {
          top: 14px;
          left: 47%;
        }
      }
  
  
      &:nth-child(3) {
        .statistics__circle {
          background-color: $color-green;
        }
  
        .statistics__img {
          top: 6px;
          left: 50%;
        }
      }
    }
  
    &__circle {
      border-radius: 50%;
      width: 63px;
      height: 63px;
      position: relative;
    }
  
    &__img {
      position: absolute;
    }
  
    &__number {
      font-size: 1.25rem;
      font-weight: 800;
      letter-spacing: 0.1875rem;
      margin-top: 13px;
    }
  
    &__description {
      color: $color-grey;
      margin-top: 19px;
    }
  }
  
//   BENEFITS 

/**
 * Benefits Section
 */
 .benefits {
    padding: 100px 0;
    background-color: $color-light-grey;
  
    @include tablet {
      padding: 50px 0;
    }
  
    &__container {
      padding: 0 100px;
  
      @include tablet {
        padding: 0 15px;
      }
    }
  
    &__single {
      background-color: $color-white;
      border: 1px solid #E8E9ED;
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      margin-bottom: 37px;
      border-radius: 5px;
  
      @include tablet {
        flex-direction: column-reverse !important;
        align-items: center;
        padding: 0 20px !important;
      }
  
      &--notebook {
        --accent-color: #{$color-redish};
  
        .benefits__image {
          margin-right: 117px;
          margin-bottom: 38px;
  
          @include tablet {
            margin: 40px 0 0;
          }
  
          &::before {
            content: "";
            width: 180px;
            height: 180px;
            background-color: var(--accent-color);
            display: block;
            border-radius: 40px;
            position: absolute;
            right: 0;
            top: -40px;
            transform: rotate(45deg);
  
            @include tablet {
              width: 90px;
              height: 90px;
              right: -10px;
              top: -30px;
            }
          }
  
          img {
            width: 386px;
            height: auto;
            position: relative;
            z-index: 2;
  
            @include tablet {
              width: 192px;
            }
          }
        }
  
        @include tablet {
          .benefits__text {
            margin: 30px 0;
          }
        }
      }
  
      &--phone {
        --accent-color: #{$color-primary};
        flex-direction: row-reverse;
        padding: 0 20px 0 70px;
  
        .benefits__image {
          @include tablet {
            margin-top: 30px;
          }
  
          &::before {
            content: "";
            width: 320px;
            height: 320px;
            background-color: var(--accent-color);
            display: block;
            border-radius: 50%;
            position: absolute;
            left: 0;
            top: -20px;
  
            @include tablet {
              width: 131px;
              height: 131px;
              top: -15px;
            }
          }
  
          img {
            width: 426px;
            height: auto;
  
            @include tablet {
              width: 175px;
            }
          }
        }
  
        .benefits__text {
          margin: 70px 0;
  
          @include tablet {
            margin: 30px 0;
          }
        }
      }
  
    }
  
    &__double {
      --accent-color: #{$color-green};
      display: flex;
  
      @include tablet {
        flex-direction: column;
      }
  
      > div {
        margin-bottom: 0;
      }
  
      .benefits__single--solo {
        max-width: 620px;
  
        .benefits__text {
          max-width: none;
          margin: 70px 35px;
        }
  
        @include tablet {
          max-width: none;
  
          .benefits__text {
            margin: 0;
            padding: 30px 0;
          }
        }
      }
  
      .benefits__single--image {
        flex-grow: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--accent-color);
        border: none;
        margin-left: 60px;
  
        @include tablet {
          margin-left: 0;
          margin-top: -5px;
        }
  
        img {
          width: 295px;
          height: auto;
          margin-top: 55px;
        }
      }
    }
  
  
    &__text {
      box-sizing: content-box;
      max-width: 415px;
      margin: 90px 36px;
  
      @include tablet {
        margin: 0;
        max-width: none;
      }
  
      &::after {
        content: "";
        width: 332px;
        height: 4px;
        background-color: var(--accent-color);
        display: block;
        margin-top: 50px;
  
        @include tablet {
          display: none;
        }
      }
    }
  
    &__description {
      margin-top: 30px;
      line-height: 1.375rem;
    }
  
    &__image {
      position: relative;
  
      img {
        position: relative;
        z-index: 2;
      }
    }
  }


//   PRICING 
.pricing {
    margin: 100px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
    @include notebook {
      margin: 50px auto;
    }
  
    
    &__boxes {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 50px;
  
      @include notebook {
        flex-direction: column;
        width: 100%;
      }
    }
  
    &__box {
      width: 370px;
      border-radius: 18px;
      display: flex;
      flex-direction: column;
      align-items: center;
      border: 1px solid var(--accent-color);
  
      @include notebook {
        width: 100%;
        max-width: 370px;
        flex-direction: row;
        flex-wrap: wrap;
        margin-bottom: 50px;
        justify-content: center;
        padding: 25px 10px 0 10px;
  
        &:last-child {
          margin-bottom: 0;
        }
      }
  
      .btn {
        position: relative;
        bottom: -25px;
        font-size: 0.8125rem;
        background-color: var(--accent-color);
      }
  
  
  
      /*** Basic Box ***/
      &--basic {
        --accent-color: #{$color-redish};
  
        .pricing__price {
          margin-bottom: 30px;
  
          @include notebook {
            margin-bottom: 0;
          }
        }
      }
  
      /*** Professional Box **/
      &--professional {
        --accent-color: #{$color-primary};
        width: 400px;
        margin: 0 40px;
        box-shadow: 5px 1px 27px $color-primary-shadow;
  
        @include notebook {
          max-width: 400px;
          width: 100%;
          margin: 0 0 50px 0;
        }
  
        .pricing {
          &__type {
            font-size: 1.3125rem;
          }
  
          &__item {
            margin-bottom: 25px;
          }
        }
      }
  
      /*** Premium Box ***/
      &--premium {
        --accent-color: #{$color-green};
      }
    }
  
    &__details {
      margin-top: 34px;
      margin-bottom: 60px;
      text-align: center;
  
      @include notebook {
        width: 50%;
        margin: 0;
      }
    }
  
    &__type {
      font-size: 1.25rem;
      font-family: $font-raleway;
      font-weight: 700;
    }
  
    &__price {
      font-size: 2.875rem;
      font-family: $font-open-sans;
      font-weight: 300;
      margin-top: 25px;
      color: var(--accent-color);
    }
  
    &__limited {
      text-align: center;
      margin-top: 15px;
      font-size: 0.75rem;
      font-family: $font-raleway;
      font-weight: 700;
    }
  
    &__items {
      text-align: center;
  
      @include notebook {
        width: 50%;
        text-align: left;
      }
    }
  
    &__item {
      font-size: 14px;
      margin-bottom: 20px;
  
      @include notebook {
        &:last-child {
          margin-bottom: 0;
        }
      }
  
      &::before {
        content: "";
        width: 11px;
        height: 11px;
        display: inline-block;
        margin-right: 10px;
        background-image: url("../assets/Checkmark-1.svg");
      }
  
      &--not::before {
        background-image: url("../assets/Close.svg");
      }
    }
  }

//   CONTACT

.contact {
    padding: 80px 100px 100px;
    display: flex;
    justify-content: center;
  
    @include tablet {
      flex-direction: column;
      align-items: center;
      padding: 50px 15px;
    }
  
    &__column {
      width: 50%;
  
      @include  tablet {
        width: 100%;
      }
    }
  
    &__title {
      font-size: 3.0625rem;
      line-height: 3.6875rem;
    }
  
    &__instruction {
      margin: 22px 0 42px;
      font-size: 1rem;
      line-height: 1.375rem;
  
      @include tablet {
        margin: 5px 0 35px;
      }
    }
  
    &__details {
      display: flex;
      justify-content: flex-start;
      color: $color-grey;
      align-items: center;
  
      @include tablet {
        flex-direction: column;
        align-items: flex-start;
      }
  
      .details__item {
        color: $color-grey;
        font-weight: 500;
        text-decoration: none;
  
        @include tablet {
          margin-bottom: 10px;
        }
  
        &:first-of-type {
          margin-right: 20px;
        }
  
        img {
          margin-right: 10px;
        }
      }
    }
  }

//   FORM 
.form {
    display: flex;
    flex-direction: column;
  
    @include tablet {
      margin-top: 20px;
    }
  
    &__field {
      display: flex;
      flex-direction: column;
  
      &:first-of-type {
        margin-bottom: 42px;
      }
    }
  
    &__label {
      font-weight: bold;
      text-transform: uppercase;
      color: $color-primary;
      line-height: 0.9rem;
      letter-spacing: 3px;
      font-size: 0.6875rem;
    }
  
    &__input {
      border: none;
      border-bottom: 1px solid $color-grey;
      background-color: transparent;
      line-height: 2.625rem;
    }
  
    &__consent {
      margin-top: 30px;
    }
  
    &__checkbox {
      display: block;
      position: relative;
      padding-left: 35px;
      margin-bottom: 12px;
      cursor: pointer;
      font-size: 1.375rem;
  
      input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
  
        &:checked {
          ~ .checkbox {
            background-image: url(../assets/Checkmark.svg);
            background-position: center;
            background-size: 50%;
            background-repeat: no-repeat;
          }
        }
      }
  
      .checkbox {
        position: absolute;
        top: 0;
        left: 0;
        height: 25px;
        width: 25px;
        background-color: $color-white;
        border: 1px solid $color-grey;
        border-radius: 4px;
      }
  
      .consent__text {
        margin: 0 10px;
        font-size: 0.75rem;
        color: $color-grey;
        line-height: 17px;
      }
    }
  
    .btn {
      font-size: 0.8125rem;
      padding: 20px 97px;
      align-self: flex-end;
      margin-top: 20px;
    }
  }

//   FOOTER 
.footer {
    box-shadow: 0 -5px 40px #00000029;
    padding: 20px 0;
  
  
    &__container {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  
    &__info {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
    }
  
    &__copy {
      font-size: 0.6875rem;
      line-height: 1.5rem;
      color: $color-grey;
      margin-top: 6px;
    }
  
    &__icons a:first-of-type {
      margin-right: 25px;
    }
  }